#  _   _                  _          _     
# | \ | |                (_)        | |    
# |  \| | ___  ___  _ __  ___  _____| |___ 
# | . ` |/ _ \/ _ \| '_ \| \ \/ / _ \ / __|
# | |\  |  __/ (_) | |_) | |>  <  __/ \__ \
# |_| \_|\___|\___/| .__/|_/_/\_\___|_|___/
#                  | |                     
#                  |_|                     
#
# Neopixels Configurations - Flsun Speeder Pad
#
# Michele Pellegrino

  

  
[gcode_macro M_NEOPIXEL_ON]
description: Turn On Neopixels LEDs
gcode:
  SET_LED_TEMPLATE LED=Mini_NeoPixels TEMPLATE=""
  SET_LED LED=Mini_NeoPixels RED=1.0 GREEN=1.0 BLUE=1.0 SYNC=0 TRANSMIT=1




[gcode_macro M_NEOPIXEL_OFF]
description: Turn Off Neopixels LEDs
gcode:
  SET_LED_TEMPLATE LED=Mini_NeoPixels TEMPLATE=""
  SET_LED LED=Mini_NeoPixels RED=0.0 GREEN=0.0 BLUE=0.0 SYNC=0 TRANSMIT=1


      

[gcode_macro M_HOTEND_GLOW]
description: Turn on LEDs based on nozzle temperature (All LEDs)
gcode:
  NEOPIXEL_DISPLAY LED=Mini_NeoPixels TYPE=extruder_temp MODE=glow


[gcode_macro M_HOTEND_PROGRESS]
description: Turn on LEDs based on nozzle temperature (LED by LED)
gcode:
  NEOPIXEL_DISPLAY LED=Mini_NeoPixels TYPE=extruder_temp MODE=progress


[gcode_macro M_BED_GLOW]
description: Turn on the LEDs based on bed temperature (All LEDs)
gcode:
  NEOPIXEL_DISPLAY LED=Mini_NeoPixels TYPE=bed_temp MODE=glow



[gcode_macro M_BED_PROGRESS]
description: Turn on the LEDs based on bed temperature (LED by LED)
gcode:
  NEOPIXEL_DISPLAY LED=Mini_NeoPixels TYPE=bed_temp MODE=progress


[gcode_macro M_PERCENT_GLOW]
description: Turn on LEDs based on printing progress (All LEDs)
gcode:
  NEOPIXEL_DISPLAY LED=Mini_NeoPixels TYPE=print_percent MODE=glow


[gcode_macro M_PERCENT_PROGRESS]
description: Turn on LEDs based on printing progress (LED by LED)
gcode:
  NEOPIXEL_DISPLAY LED=Mini_NeoPixels TYPE=print_percent MODE=progress


[gcode_macro M_SPEED_GLOW]
description: Turn on LEDs based on printing speed (All LEDs)
gcode:
  NEOPIXEL_DISPLAY LED=Mini_NeoPixels TYPE=printer_speed MODE=glow


[gcode_macro M_SPEED_PROGRESS]
description: Turn on LEDs based on printing speed (LED by LED)
gcode:
  NEOPIXEL_DISPLAY LED=Mini_NeoPixels TYPE=printer_speed MODE=progress  




[display_template led_extruder_temp_glow]
text:
  {% if printer.extruder.target > 0.0 %}
  {%  set temp = printer.extruder.target %}
  {% else %}
  {% set temp = printer.configfile.config.extruder.max_temp %}
  {% endif %}
  {% set ratio = printer.extruder.temperature / temp|float %}
  {ratio}, 0.0, {1-ratio}, 0.0


[display_template led_extruder_temp_progress]
param_led_num:  0
param_led_total: 1
text:
  {% if printer.extruder.target > 0.0 %}
  {%  set temp = printer.extruder.target %}
  {% else %}
  {% set temp = printer.configfile.config.extruder.max_temp %}
  {% endif %}
  {% set ratio = printer.extruder.temperature / temp|float %}
  {% set led_ratio = param_led_num|float / param_led_total %}
  {% if ratio > led_ratio %}
  {led_ratio}, 0.0, 0.0, 0.0
  {% else %}
  0.0, 0.0, 0.0, 0.0
  {% endif %}


[display_template led_bed_temp_glow]
text:
  {% if printer.heater_bed.target > 0.0 %}
  {%  set temp = printer.heater_bed.target %}
  {% else %}
  {% set temp = printer.configfile.config.heater_bed.max_temp %}
  {% endif %}
  {% set ratio = printer.heater_bed.temperature / temp|float %}
  {ratio}, 0.0, {1-ratio}, 0.0


[display_template led_bed_temp_progress]
param_led_num:  0
param_led_total: 1
text:
  {% if printer.heater_bed.target > 0.0 %}
  {%  set temp = printer.heater_bed.target %}
  {% else %}
  {% set temp = printer.configfile.config.heater_bed.max_temp %}
  {% endif %}
  {% set ratio = printer.heater_bed.temperature / temp|float %}
  {% set led_ratio = param_led_num|float / param_led_total %}
  {% if ratio > led_ratio %}
  {led_ratio}, 0.0, 0.0, 0.0
  {% else %}
  0.0, 0.0, 0.0, 0.0
  {% endif %}


[display_template led_print_percent_glow]
text:
  {% set ratio = printer.virtual_sdcard.progress %}
  0.0, {ratio}, 0.0, 0.0


[display_template led_print_percent_progress]
param_led_num:  0
param_led_total: 1
text:
  {% set ratio = printer.virtual_sdcard.progress %}
  {% set led_ratio   = param_led_num|float / param_led_total %}
  {% if ratio > led_ratio %}
  0.0, {led_ratio}, 0.0, 0.0
  {% else %}
  0.0, 0.0, 0.0, 0.0
  {% endif %}


[display_template led_printer_speed_glow]
text:
  {% set ratio  = printer.motion_report.live_velocity|float /  printer.configfile.config.printer.max_velocity|float %}
  0.0, {ratio}, 0.0, 0.0


[display_template led_printer_speed_progress]
param_led_num:  0
param_led_total: 1
text:
  {% set ratio  = printer.motion_report.live_velocity|float /  printer.configfile.config.printer.max_velocity|float %}
  {% set led_ratio    = param_led_num|float / param_led_total %}
  {% if ratio > led_ratio %}
  0.0, {led_ratio}, 0.0, 0.0
  {% else %}
  0.0, 0.0, 0.0, 0.0
  {% endif %}
